<div class="container">
    <div>
        <h2>Ajouter un Projet :</h2>
    </div>
    <form [formGroup]="myForm">
        <div hidden class="col-sm-2 col-md-2 col-lg-2">
            <label>ID Projet</label>
            <input type="text" [(ngModel)]="newProjet.idProjet" formControlName="idProjet" name="idProjet" class="form-control">
        </div>
        
        <!-- @if (myForm.controls['idProduit'].hasError('required')&& myForm.controls['idProduit'].touched)
        {
            <span class="text-danger">
            idProjet est obligatoire
            </span>
        }
        @if (myForm.get('idProduit')?.touched && idExist(myForm.get('idProduit')?.value))
        {
            <span class="text-danger">
            idProjet deja existe
            </span>
        } -->
        <div class="col-sm-4 col-md-4 col-lg-4">
            <label>Nom Projet</label>
            <input type="text" [(ngModel)]="newProjet.nomProjet" formControlName="nomProjet" name="nomProjet" class="form-control">
        </div>
        @if (myForm.controls['nomProjet'].hasError('required')&& myForm.controls['nomProjet'].touched)
        {
            <span class="text-danger">
            nomProjet est obligatoire
            </span>
        }
        @if (myForm.controls['nomProjet'].hasError('minlength')&& myForm.controls['nomProjet'].touched)
        {
            <span class="text-danger">
            nomProjet min 3 caracteres !
            </span>
        }
        <div class="col-sm-2 col-md-2 col-lg-2">
            <label>Nom Client</label>
            <input type="text" [(ngModel)]="newProjet.nomClient" formControlName="nomClient" name="nomClient" class="form-control">
        </div>
        @if (myForm.controls['nomClient'].hasError('required')&& myForm.controls['nomClient'].touched)
        {
            <span class="text-danger">
            nomClient est obligatoire
            </span>
        }
        <div class="col-sm-2 col-md-2 col-lg-2">
            <label>Email du Client</label>
            <input type="text" [(ngModel)]="newProjet.emailClient" formControlName="emailClient" name="emailClient" class="form-control">
        </div>
        @if (myForm.controls['emailClient'].hasError('required')&& myForm.controls['emailClient'].touched)
        {
            <span class="text-danger">
            email est obligatoire
            </span>
        }
        @if (myForm.controls['emailClient'].hasError('email')&& myForm.controls['emailClient'].touched)
        {
            <span class="text-danger">
            email non valide
            </span>
        }
        <div class="col-sm-4 col-md-4 col-lg-4">
            <label>Date De debut</label>
            <input type="date" [(ngModel)]="newProjet.dateDeb" formControlName="dateDeb" name="dateDeb" class="form-control">
        </div>
        @if (myForm.controls['dateDeb'].hasError('required')&& myForm.controls['dateDeb'].touched)
        {
            <span class="text-danger">
            dateDeb est obligatoire
            </span>
        }
        <div class="col-sm-4 col-md-4 col-lg-4">
        <label>Departement</label>
            <select class="form-control form-control-lg" formControlName="idDepart" id="idDepart" name="idDepart"
            [(ngModel)]="idDepart">
            @for(dep of depart; track dep.idDepart){
            <option [value]="dep.idDepart"> {{dep.nomDepart}} </option>
            }
            </select>
        </div>
        @if (myForm.controls['idDepart'].hasError('required')&& myForm.controls['idDepart'].touched)
        {
            <span class="text-danger">
            Selection du Departement est obligatoire
            </span>
        }
        <div class="mt-2">
            <button type="submit" [disabled]="myForm.invalid" (click)="addProjet()" class="btn btn-success">Ajouter</button>
        </div>
    </form>
</div>